html, body{
  height: 100%;
}
body {
			background-image: url(http://www.orangetoolz.com/assets/img/slider_4.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999999;
}
